<div id="bg_container" class="blur">
  <video id="bg" src="video/intro-video.mp4" autoplay="true" loop="true" muted="true"></video>
</div>

<div class="intro-header">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-message">
              <h1>Recommend</h1>
              <h3>Discover new music like never before.</h3>
              <hr class="intro-divider">
              <ul class="list-inline intro-social-buttons">
                <li></li>
                <li>
                  <a ng-click="login()" class="btn btn-default btn-lg">
                    <i class="fa fa-facebook fa-fw"></i>
                    <span class="network-name">Sign In Using Facebook</span>
                  </a>
                </li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
</div>
