 .blur video {
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
}

#bg_container {
  width: 100%;
  height: 100%;
  position: absolute;
  padding:0;
  margin:0;
  left: 0px;
  top: 0px;
  z-index: -1000;
  overflow:hidden;
}

#bg {
  min-height: 100%;
  min-width:100%;
  position:absolute;
  bottom:0;
  left:0;
}

body,
h3,
h1 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.intro-header {
  text-align: center;
  color: #f8f8f8;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}