/*.userheader {
  display: inline;
  overflow: hidden;
  color: red; }
  .userheader div {
    display: inline; }
  .userheader > .profile_pic {
    color: red; }
    .userheader > .profile_pic > .image_container {
      display: inline-block;
      height: 32px;
      width: 32px;
      margin-top: 8px;
      margin-left: 8px;
      border: 1px solid black;
      overflow: hidden; }
  .userheader > .username_container {
    display: inline-block;
    margin-left: 6px;
    padding-top: -6px;
    margin-top: -6px; }
    .userheader > .username_container > .username {
      padding-top: -6px;
      margin-top: -6px; }

.recs_container {
  overflow-x: hidden; }

.catagory_rec_container {
  height: 100px;
  width: 100%;
  overflow: hidden; }

.artist_recs {
  height: 120px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: auto;
  white-space: nowrap;
  padding-bottom: -20px;
  padding-right: -20px; }

.test {
  display: inline-block; }

.header {
  font-family: "Segoe UI";
  color: red;
  width: 100%;
  min-height: 30px; }
  .header > div {
    display: inline-block; }
  .header > .user > .profile_pic {
    display: inline-block; }
  .header > .user > .username {
    display: inline-block; }
  .header > .menu_buttons > .button {
    display: inline-block; }
*/